<p>ツイート一覧</p>
<% @tweets.each do |tweet| %>
    <p>
        <%= tweet.message %>
        <% if current_user %>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
            <% if tweet.likes.count % 2 == 0 %>
                <%= link_to 'いいね', likes_path(tweet_id: tweet.id), method: :post %>
            <% else %>
                <%= link_to 'いいね削除', like_path(tweet), method: :delete %>
            <% end %>
        <% end %>
    </p>
<% end %>

<p>
<% if current_user %>
    <%= link_to 'ツイート', new_tweet_path %>
<% end %>
</p>
<hr>

<p>
<% if current_user %>
    <%= link_to 'ログアウト', top_logout_path %>
<% else %>
    <%= link_to 'ログイン', top_main_path %>
<% end %>
</p>

<p><%= link_to 'ユーザ一覧', users_path %></p>